.App {
    font-family: 'Nunito', sans-serif;
    text-align: center;
  }
  
  h1 {
    font-size: 2.5rem;
    color: #00274c;
  }
  
  #button-card {
    position: sticky;
    top: 0;
    padding: 20px;
    background-color: #f8f9fa;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  button {
    margin: 5px;
    padding: 10px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
  }
  
  #team-info {
    margin-top: 20px;
  }
  
  #team-info h1 {
    font-size: 2rem;
    margin-bottom: 0;
  }
  
  #team-info h2 {
    font-size: 1.5rem;
    margin-top: 0;
  }
  
  #team-stats {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .RushingCard, .PassingCard {
    flex: 1;
    margin: 0 10px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
